        <!-- I could move these to a .js file, but I'll stick with this since it's not much code-->
        <script type="text/javascript">
            // $('.content-full-page').animate({'opacity':'1'}, 600).slideDown(600);
            $('.center').stop(true).fadeIn({
                duration: 1000,
                queue: false
            }).css('display', 'none').slideDown(700);
            
            $("a").click(function(event){
                event.preventDefault();
                linkLocation = this.href;
                $(".center").fadeOut({ duration: 1000, queue: false }).slideUp(700, redirectPage(linkLocation));      
            });
        
            function redirectPage(link) {
                document.location.href= link;
            }
        </script>
        
        </div>
    </body>
</html>