<!DOCTYPE html>
<html>
    <head>
        <title>Numen's Personal Website</title>
        <link rel="icon" href="https://orig00.deviantart.net/d77a/f/2018/231/7/d/logo_by_icw_numen-dckneoy.png">
        
        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Orbitron:400,700|Roboto:400,700" rel="stylesheet">
        
        <!-- Semantic UI -->
        <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css">-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>-->
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/navbar.css">
    </head>
    
    <body class="bg">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/art">Art</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/donate">Tip Jar</a></li>
                
                <li class="nav-right no-border">
                    <div class="tooltip">
                        <a href="https://ko-fi.com/rawsaucenumen"><i class="fas fa-donate"></i></a>
                        <span class="tooltiptext">Ko-Fi</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://steamcommunity.com/id/burnt_mosquito/"><i class="fab fa-steam-square"></i></a>
                        <span class="tooltiptext">Steam</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://www.facebook.com/igchenwu"><i class="fab fa-facebook-square"></i></a>
                        <span class="tooltiptext">Facebook</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://discordapp.com/invite/HVh7QcV"><i class="fab fa-discord"></i></a>
                        <span class="tooltiptext">Discord</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://pixiv.me/icw-numen"><i class="fas fa-paint-brush"></i></a>
                        <span class="tooltiptext">Pixiv</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://twitter.com/raw_sauce_numen"><i class="fab fa-twitter-square"></i></a>
                        <span class="tooltiptext">Twitter</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://github.com/icw-Numen"><i class="fab fa-github-square"></i></a>
                        <span class="tooltiptext">Github</span>
                    </div>
                </li>
                <li class="nav-right">
                    <div class="tooltip">
                        <a href="https://www.linkedin.com/in/igor-wu-9b8056109"><i class="fab fa-linkedin"></i></a>
                        <span class="tooltiptext">LinkedIn</span>
                    </div>
                </li>
            </ul>
        </div>