<% include ./partials/header %>

<div class="center">
    <div class="content-half-page">
    
        <h2>About this website</h2>
        <h3>Description</h3>
        <p>
            As you can probably tell, this site is like a hub where you can find everything about me and the things I have worked on. <br />
        </p>
        <p>
            I've styled this website from scratch with pure CSS mostly as an exercise to show that I can do things just as fine without frameworks like Bootstrap and its equivalents.
        </p>
        <p>
            Notice how all pages respond/scale well to your browser window size, and how some elements react to when you mouseover/click them.
        </p>
        <p>
            And lastly, I've went for a simpler/minimalistic style on this website since I want to prioritize conciseness and readability.
        </p>
        
        <h3>Technical Details</h3>
        <ul>
            <li><i class="fas fa-angle-double-right"></i>Front-end:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>HTML 5</li>
                    <li><i class="fas fa-angle-right"></i>CSS</li>
                </ul>
            <li><i class="fas fa-angle-double-right"></i>Back-end:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>Node.js</li>
                    <li><i class="fas fa-angle-right"></i>Express</li>
                </ul>
            <li><i class="fas fa-angle-double-right"></i>Deployed on:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>Heroku</li>
                </ul>
        </ul>
        
    </div>
    
    <div class="content-half-page">
    
        <h2>About me</h2>
        <div class="center">
            <div class="introPhoto">
                <img src="https://media.licdn.com/dms/image/C4D03AQGhOign0-WCBQ/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=OxFjbh6723FzklODZMmWzQFtjFGPtHG2QvaZnkEBSfE">
                <p><em>Me again.</em></p>
            </div>
            <div class="introPhoto">
                <img src="https://avatars3.githubusercontent.com/u/40610172?s=400&u=db88c2a7a8a12b863088fc78ddfed755721f895a&v=4">
                <p><em>Other avatar.</em></p>
            </div>
        </div>
        
        <h3>Intro</h3>
        <p>
            I'm basically a hobbyist/generalist who is interested in both software and illustration. <br />
        </p>
        <p>
            I've always been inspired by other developers and artists. Thus, my dream is to, someday, build a game/website/app that can inspire people too. Maybe assembling a team for that would be a good idea.
        </p>
        
        <h3>Background</h3>
        <p>
            I'm an undergrad student at University of California San Diego, Senior year. <br />
        </p>
        <p>
            I live in Brazil, but I'm considering moving to the US if I do find a job there. <br />
        </p>
        <p>
            Birthday: May 17th, 1997
        </p>
        
        <h3>And by the way...</h3>
        <p>
            There <em>might</em> be some NSFW content on my Twitter and Pixiv, but I've set the appropriate warnings anyway... <br />Perhaps. ( ͡° ͜ʖ ͡°)
        </p>
        
        <div class="deets center">
            <p>You can also find me on: </p>
            <p>
                <a href="https://www.linkedin.com/in/igor-wu-9b8056109">LinkedIn</a>, 
                <a href="https://github.com/icw-Numen">Github</a>, 
                <a href="https://twitter.com/raw_sauce_numen">Twitter</a>, <br />
                <a href="https://pixiv.me/icw-numen">Pixiv</a>,
                <a href="https://www.facebook.com/igchenwu">Facebook</a>, 
                <a href="https://steamcommunity.com/id/burnt_mosquito/">Steam</a>
            </p>
            <p class="small"><em>Like my stuff?<a href="https://ko-fi.com/rawsaucenumen"> Any support is deeply appreciated</a></em></p>
        </div>
        
    </div>
</div>

<script type="text/javascript">
    // $('.content-half-page').animate({'opacity':'1'}, 600).slideDown(600);
    $('.center').stop(true).fadeIn({
        duration: 1000,
        queue: false
    }).css('display', 'none').slideDown(600);
    
    $("a").click(function(event){
        event.preventDefault();
        linkLocation = this.href;
        $(".center").fadeOut(150, redirectPage(linkLocation));      
    });

    function redirectPage(link) {
        document.location.href= link;
    }
</script>

<% include ./partials/footer %>