<% include ./partials/header %>

<div class="center">
    <div class="content-half-page">
    
        <h2>About this website</h2>
        <h3>Description</h3>
        <p>
            As you can probably tell, this site is like a hub where you can find everything about me and the things I have worked on. <br />
        </p>
        <p>
            I have styled this website from scratch with pure CSS mostly as an exercise to show that I can do things just as fine without frameworks like Bootstrap and its equivalents.
        </p>
        <p>
            Notice how all pages respond/scale well to your browser window size, and how some elements react to when you mouseover/click them.
        </p>
        <p>
            And lastly, I went for a simple, minimalistic style on this website since I want to prioritize conciseness and readability. Thus, I decided to not add more advanced features like user authentication and databases for now.
        </p>
        
        <h3>Technical Details</h3>
        <ul>
            <li><i class="fas fa-angle-double-right"></i>Front-end:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>HTML 5</li>
                    <li><i class="fas fa-angle-right"></i>CSS</li>
                    <li><i class="fas fa-angle-right"></i>jQuery</li>
                </ul>
            <li><i class="fas fa-angle-double-right"></i>Back-end:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>Node.js</li>
                    <li><i class="fas fa-angle-right"></i>Express</li>
                </ul>
            <li><i class="fas fa-angle-double-right"></i>Deployed on:</li>
                <ul>
                    <li><i class="fas fa-angle-right"></i>Heroku</li>
                </ul>
        </ul>
        
    </div>
    
    <div class="content-half-page">
    
        <h2>About me</h2>
        <div class="center">
            <div class="introPhoto">
                <img src="https://media.licdn.com/dms/image/C4D03AQGhOign0-WCBQ/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=OxFjbh6723FzklODZMmWzQFtjFGPtHG2QvaZnkEBSfE">
                <p><em>The real me</em></p>
            </div>
            <div class="introPhoto">
                <img src="https://avatars3.githubusercontent.com/u/40610172?s=400&u=db88c2a7a8a12b863088fc78ddfed755721f895a&v=4">
                <p><em>My other avatar</em></p>
            </div>
        </div>
        
        <h3>Intro</h3>
        <p>
            My full name is Igor Chen Wu. You might have seen me go by Numen on various platforms and social media.
        </p>
        <p>
            I am basically a hobbyist/generalist who is interested in both software and illustration. <br />
        </p>
        <p>
            I have always been inspired by other developers and artists. Thus, my dream is to, someday, build a game/website/app that can inspire people too. Maybe assembling a team for that would be a good idea.
        </p>
        
        <h3>Background</h3>
        <p>
            I am a Brazilian international student at University of California San Diego. My major is Mathematics - Computer Science. I am currently a fourth year, so I will hopefully graduate in June 2019.<br />
        </p>
        <p>
            I was born in Sao Paulo, SP, Brazil.<br />
        </p>
        <p>
            Birthday: May 17th, 1997
        </p>
        
        <h3>Discord</h3>
        <p>
            <a href="https://discordapp.com/invite/HVh7QcV">I have my own Discord server</a> for development-related stuff. Feel free to jump right in there anytime if you feel like helping with testing or if you simply want to chat.
        </p>
        
        <h3>And by the way...</h3>
        <p>
            There <em>might</em> be some NSFW content on my Twitter and Pixiv, but I have set the appropriate warnings anyway... <br />Perhaps. ( ͡° ͜ʖ ͡°)
        </p>
        
        <div class="deets center">
            <p>You can also find me on: </p>
            <p>
                <a href="https://www.linkedin.com/in/igor-wu-9b8056109">LinkedIn</a>, 
                <a href="https://github.com/icw-Numen">Github</a>, 
                <a href="https://twitter.com/raw_sauce_numen">Twitter</a>, <br />
                <a href="https://pixiv.me/icw-numen">Pixiv</a>,
                <a href="https://discordapp.com/invite/HVh7QcV">Discord</a>, 
                <a href="https://www.facebook.com/igchenwu">Facebook</a>, 
                <a href="https://steamcommunity.com/id/burnt_mosquito/">Steam</a>
            </p>
            <p class="small"><em>Like my stuff?<a href="https://ko-fi.com/rawsaucenumen"> Any support is deeply appreciated</a></em></p>
        </div>
        
    </div>
</div>

<% include ./partials/footer %>