<% include ./partials/header %>

<div class="center">
    <div class="content-full-page">
        <h1>My Artwork</h1>
        <p>Besides doing schoolwork and coding projects, I also spend a decent amount of time on making art. Some of you might have seen my artwork floating around on various parts of the Internet.</p>
        <p>I do these mostly for fun, but I also do believe that being able to draw is a very useful skill to have.</p>
        <table class="cards">
            <tr>
                <td colspan="2" style="padding-right: 0;">
                    <div class="card">
                        <!--<h2>Art</h2>-->
                        <div class="card-content">
                            <img class="sharp" src="https://orig00.deviantart.net/9c6f/f/2018/126/1/1/black_butterfly_narmaya_icons__download_for__rar__by_icw_numen-dcaue5y.png">
                            <p>You can check out my artwork with the links below (do note that some of my content might be NSFW):</p>
                            <ul>
                                <li><i class="fas fa-angle-right"></i><a href="https://twitter.com/raw_sauce_numen">Twitter</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="https://pixiv.me/icw-numen">Pixiv</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="http://icw-numen.deviantart.com/">DeviantArt</a></li>
                            </ul>
                            <p>My Twitter has both serious work (i.e., artwork) and non-serious work (i.e., memes). I usually post news/updates about my stuff there too.</p>
                            <p>My Pixiv has only what I consider to be my better works.</p>
                            <p>My DeviantArt is like an archive of most of my art, old and new.</p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        
        <p><em>Like my stuff?<a href="https://ko-fi.com/rawsaucenumen"> Any support is deeply appreciated</a></em></p>
        
    </div>
</div>

<% include ./partials/footer %>