<% include ./partials/header %>

<div class="center">
    <div class="content-full-page">
        <h1>Contact Me!</h1>
        <table class="cards">
            <tr>
                <td>
                    <div class="card">
                        <h2>Contact Info.</h2>
                        <div class="card-content inline">
                            <ul>
                                <li><i class="fas fa-angle-right"></i>Full Name: Igor Chen Wu</li>
                                <li><i class="fas fa-angle-right"></i>E-mail: igchenwu@gmail.com</li>
                                <li><i class="fas fa-angle-right"></i>Phone: (858) 997-7190</li>
                            </ul>
                        </div>
                    </div>
                </td>
                
                <td>
                    <div class="card">
                        <h2>Social Media</h2>
                        <div class="card-content inline">
                            <ul>
                                <li><i class="fas fa-angle-right"></i><a href="https://www.linkedin.com/in/igor-wu-9b8056109">LinkedIn</a>: For networking.</li>
                                <li><i class="fas fa-angle-right"></i><a href="https://github.com/icw-Numen">Github</a>: Where I push my personal projects to.</li>
                                <li><i class="fas fa-angle-right"></i><a href="https://twitter.com/raw_sauce_numen">Twitter</a>: I post my own art/memes there (might be NSFW).</li>
                                <li><i class="fas fa-angle-right"></i><a href="https://discordapp.com/invite/HVh7QcV">Discord</a>: For organizing development/testing.</li>
                                <li><i class="fas fa-angle-right"></i><a href="https://www.facebook.com/igchenwu">Facebook</a>: For daily life stuff and general updates.</li>
                                <li><i class="fas fa-angle-right"></i><a href="https://steamcommunity.com/id/burnt_mosquito/">Steam</a>: Feel free to add me if you want to play any games.</li>
                            </ul>
                        </div>
                    </div>
                </td>
                
                
            </tr>
            <tr>
                <td colspan="2" style="padding-right: 0;">
                    <div class="card">
                        <h2>Art</h2>
                        <div class="card-content">
                            <img class="sharp" src="https://orig00.deviantart.net/9c6f/f/2018/126/1/1/black_butterfly_narmaya_icons__download_for__rar__by_icw_numen-dcaue5y.png">
                            <p>Some of you might have seen my artwork floating around in various parts of the Internet.<br />You can check out my artwork with the links below (do note that some of my content might be NSFW):</p>
                            <ul>
                                <li><i class="fas fa-angle-right"></i><a href="https://twitter.com/raw_sauce_numen">Twitter</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="https://pixiv.me/icw-numen">Pixiv</a></li>
                                <li><i class="fas fa-angle-right"></i><a href="http://icw-numen.deviantart.com/">DeviantArt</a></li>
                            </ul>
                            </div>
                    </div>
                </td>
            </tr>
        </table>
        
        <p><em>Like my stuff?<a href="https://ko-fi.com/rawsaucenumen"> Any support is deeply appreciated</a></em></p>
        
    </div>
</div>

<% include ./partials/footer %>