<% include ./partials/header %>

<div class="center">
    <div class="content-full-page">
    
        <h1>Donations</h1>
        <p><strong>This page is still under construction, and so might look like it is far from being complete. Thank you for understanding.</strong><br /><br /></p>
        <p>I'm basically on my own when it comes to my projects/hobby expenses, so every cent counts.</p>
        <p>I might not have enough content/speed to deliver things on Patreon, <a href="https://ko-fi.com/rawsaucenumen">but I do have a Ko-Fi set up</a> for small donations.</p>
        
    </div>
</div>

<% include ./partials/footer %>