<% include ./partials/header %>

<div class="center">
    <div class="content-full-page home">
        
        <table>
            <tr>
                <td class='homeIntro'>
                    <div>
                        <h1>Hey there!</h1>
                        <p>I'm Igor Wu and welcome to my personal website!</p>
                        <p>There isn't much to see on this page, but you can click on the links in the navbar above to learn more about:</p>
                        <ul>
                            <li><i class="fas fa-angle-right"></i>Me!</li>
                            <li><i class="fas fa-angle-right"></i>My projects</li>
                            <li><i class="fas fa-angle-right"></i>And other neat stuff</li>
                        </ul>
                        <p>Thanks for your attention!</p>
                    </div>
                </td>
                
                <td class='homeIntro2'>
                    <div class="introPhoto">
                        <img src="https://orig00.deviantart.net/96ba/f/2018/235/b/9/numen_avatar2_by_icw_numen-dckzv6z.png">
                        <p><em>Literally me</em></p>
                        <div class="deets">
                            <p>You can also find me on: </p>
                            <p>
                                <a href="https://www.linkedin.com/in/igor-wu-9b8056109">LinkedIn</a>, 
                                <a href="https://github.com/icw-Numen">Github</a>, 
                                <a href="https://twitter.com/raw_sauce_numen">Twitter</a>, <br />
                                <a href="https://pixiv.me/icw-numen">Pixiv</a>,
                                <a href="https://discordapp.com/invite/HVh7QcV">Discord</a>, 
                                <a href="https://www.facebook.com/igchenwu">Facebook</a>, 
                                <a href="https://steamcommunity.com/id/burnt_mosquito/">Steam</a>
                            </p>
                            <p class="small"><em>Like my stuff?<a href="https://ko-fi.com/rawsaucenumen"> Any support is deeply appreciated</a></em></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
</div>

<% include ./partials/footer %>