<% include ./partials/header %>

<div class="center">
    <div class="content-full-page">
        
        <h1>My projects</h1>
        <p>It might look like there's not much, but I can guarantee that countless hours were poured in each of them to get them to where they are now.</p>
        <table class="cards">
            <tr>
                <td>
                    <div class="card">
                        <h2>Personal website</h2>
                        <div class="card-content">
                            <a href="/">
                                <img src="https://orig00.deviantart.net/d77a/f/2018/231/7/d/logo_by_icw_numen-dckneoy.png">
                            </a>
                            <p>
                                A website I've made for myself and...
                            </p>
                            <p>
                                Well, you're looking at it right now. Check the <a href="/about">About</a> tab above for more info.
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <h2>Maid Bot Ivy</h2>
                        <div class="card-content">
                            <a href="https://icw-numen.github.io/ivy-bot/">
                                <img src="https://camo.githubusercontent.com/a13bd13150c062e6c1cad4b38c248754090299cd/68747470733a2f2f6f72696730302e64657669616e746172742e6e65742f353537342f662f323031382f3139352f642f662f6d6169645f6976795f63726f705f62795f6963775f6e756d656e2d646368383367702e706e67">
                            </a>
                            <p>
                                A general-purpose Discord bot written in Javascript and with the Discord.js library. She has her own personality and is online 24/7.
                            </p>
                            <p>
                                She has over 60 commands that include, but are not limited to: moderation, server organization, music player, fun commands, memes, nsfw.
                            </p>
                            <p>
                                Her source code and documentation are <a href="https://github.com/icw-Numen/ivy-bot">publicly available on GitHub</a>.
                            </p>
                            <p>
                                Or, if you prefer, <a href="https://icw-numen.github.io/ivy-bot/">you can also visit to her own website!</a>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        
    </div>
</div>

<% include ./partials/footer %>