:root {
  /*--main-bg-color: rgb(210, 207, 207);*/
  --main-bg-color: rgb(216, 208, 197);
  --main-font-color: rgb(230, 227, 227);
  --main-content-color: rgba(58, 52, 53, .85);
  
  --navbar-bg-color: rgba(46, 40, 42, 1);
  --navbar-text-color: rgb(230, 227, 227);
  --navbar-border-color: rgb(239, 48, 84);
  
  --border-color: rgba(239, 48, 84, .7);
  
  --header-border-color: rgba(239, 48, 84, .7);
  
  --list-item-color: rgba(239, 48, 84, .8);
  --list-item-color2: rgba(255, 181, 96, .8);
  
  --selected-color: rgb(255, 181, 96);
}

html {
    /*width: 100vw;*/
    /*height: 100vh;*/
    display: block;
    overflow-y: auto;
}

body {
    display: block;
    padding-bottom: 10vh;
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: Roboto, Helvetica;
    font-size: 1.1em;
    color: var(--main-font-color);
    
    /* shadow */
    /*-moz-box-shadow:  3px 5px 115px 25px rgba(11, 11, 11, .2);*/
    /*-webkit-box-shadow:  3px 5px 115px 25px rgba(11, 11, 11, .2);*/
    /*box-shadow: inset 3px 5px 115px 25px rgba(11, 11, 11, .2);*/
}

ul {
    list-style-type: none;
    padding-left: .5em;
    margin-top: .4em;
    margin-bottom: .4em;
}

i {
    color: var(--list-item-color);
    margin-right: .5em;
}

li > ul > li > i {
    color: var(--list-item-color2);
    margin-right: .5em;
}

h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 1.3em;
    padding-bottom: .2em;
    display: inline-block;
    border-bottom: 2px solid var(--header-border-color);
    font-family: "Orbitron";
}

h3 {
    margin-top: 15px;
    margin-bottom: 1px;
}

table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

tr {
    width: 100%;
    margin:auto;
}

a, i {
    color: rgb(239, 48, 84);
    text-decoration: none;
    
    transition: color 0.3s ease-in-out;
}

a:visited {
    color: rgb(255, 181, 96);
    text-decoration: none;
}

i.fas.fa-eye-slash, i.fas.fa-eye {
    font-size: 1.5em;
    color: var(--navbar-bg-color);
    opacity: .7;
}

.toggleBg {
    margin-top: 10vh;
    margin-left: 2vw;
    position: absolute;
    
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.bg {
    /* bg settings */
    height: 100%;
    background-image: url("https://orig00.deviantart.net/9a63/f/2018/243/1/2/js_tan_and_node_silhouette_no_bg_by_icw_numen-dclnz9r.png");
    background-position: 48% 3vh;
    background-repeat: no-repeat;
    background-size: 70vh;
    background-attachment: fixed;
    z-index: -1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: var(--selected-color);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
    
    top: -5px;
    right: 105%;
    
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    
    opacity: 1;
}

.tooltip .tooltiptext:hover {
    visibility: hidden;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.active {
    color: rgb(255, 181, 96);
}

.center {
    display: none;
    padding-top: 10vh;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.small {
    font-size: .7em;
}

.cards {
    padding: 0;
    width: 100%;
    margin: auto;
    margin-top: 1.5em;
}

.cards tr {
    padding: 0;
}

.cards td {
    padding: 0 2em 2em 0;
    padding-right: 1em;
    padding-bottom: 2em;
}

.cards td:nth-child(2) {
    padding-right: 0;
    padding-left: 1em;
}

.card {
    height: 100%;
    background: rgba(46, 40, 42, .75);
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    
    /* shadow */
    -moz-box-shadow:  7px 7px 10px rgba(11, 11, 11, .2);
    -webkit-box-shadow:  7px 7px 10px rgba(11, 11, 11, .2);
    box-shadow: 7px 7px 10px rgba(11, 11, 11, .2);
}

.card img {
    width: 25%;
    margin-right: 1.3em;
    margin-bottom: 1em;
    border-radius: 25%;
    max-width: 145px;
    min-width: 100px;
    float:left;
    
    /* shadow */
    -moz-box-shadow:  0 15px 15px rgba(11, 11, 11, .3);
    -webkit-box-shadow:  0 15px 15px rgba(11, 11, 11, .3);
    box-shadow: 0 15px 15px rgba(11, 11, 11, .3);
}

.card img.sharp {
    border-radius: 0;
    /* shadow */
    -moz-box-shadow:  0 0 0 0;
    -webkit-box-shadow:  0 0 0 0;
    box-shadow: 0 0 0 0;
}

.card-content {
    padding-top: 1em;
    /*padding-bottom: 1em;*/
    display: block;
}

.card-content.inline ul {
    display: inline-block;
    vertical-align: top;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

.content-full-page {
    margin: auto;
    padding: 1.5em 3em 1.5em 3em;
    border-radius: 6px;
    background-color: var(--main-content-color);
    width: 80%;
    min-width: 800px;
    text-align: left;
    overflow: auto;
    
    /* shadow */
    -moz-box-shadow:  6px 9px 15px rgba(11, 11, 11, .3);
    -webkit-box-shadow:  6px 9px 15px rgba(11, 11, 11, .3);
    box-shadow: 6px 9px 15px rgba(11, 11, 11, .3);
}

.content-half-page {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 1em 2em 1em 2em;
    border-radius: 6px;
    width: 17%;
    background-color: var(--main-content-color);
    min-width: 320px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    overflow: auto;
    
    /* shadow */
    -moz-box-shadow:  6px 9px 15px rgba(11, 11, 11, .3);
    -webkit-box-shadow:  6px 9px 15px rgba(11, 11, 11, .3);
    box-shadow: 6px 9px 15px rgba(11, 11, 11, .3);
}

.content-half-page li:last-child {
    margin-bottom: .6em;
}

.content-half-page h2 {
    margin-bottom: .7em;
}

.content-half-page p {
    margin-top: .5em;
    margin-bottom: .3em;
}

.content-half-page .center {
    padding-top: 0;
}

.homeIntro {
    width: 50%;
    text-align: left;
    padding-right: 10%;
    border-right: 2px solid var(--border-color);
}

.homeIntro div {
    float:right;
}

.homeIntro2 {
    width: 50%;
    padding-top: .5em;
    padding-left: 7%;
    
    vertical-align: top;
    margin: auto;
    box-sizing: border-box;
    text-align:center;
}

.introPhoto {
    padding-left: 5%;
    padding-right: 5%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: auto;
}

.introPhoto img {
    width: 100%;
    border-radius: 5%;
    max-width: 200px;
    min-width: 100px;
    display: inline-block;
    
    /* shadow */
    -moz-box-shadow:  7px 15px 15px rgba(11, 11, 11, .2);
    -webkit-box-shadow:  7px 15px 15px rgba(11, 11, 11, .2);
    box-shadow: 7px 9px 15px rgba(11, 11, 11, .2);
}

.introPhoto img.sharp {
    border-radius: 0;
}

.introPhoto p {
    margin-top: .2em;
    display: block;
    width: 100%;
}

.content-half-page .center {
    vertical-align: top;
    margin: auto;
    box-sizing: border-box;
    text-align:center;
}

.content-half-page .introPhoto {
    width: 39%;
    border-radius: 10px;
    max-width: 200px;
    display: inline-block;
}

.deets p {
    margin-top: .4em;
    margin-bottom: .4em;
    padding-top: .2em;
}

.deets, .deets.center {
    margin-top: 1em;
    border-top: 2px solid var(--border-color);
}