<% include ./partials/header %>

<div class="content-full-page">

    <h1>Contact Info.</h1>

</div>

<script type="text/javascript">
            $('.content-full-page').animate({'opacity':'1'}, 600);
</script>

<% include ./partials/footer %>