<% include ./partials/header %>

<div class="content-full-page">
    
    <h1>If you're interested, </h1>
    
    <p>you can find my resume and other relevant information below.</p>
    
</div>

<script type="text/javascript">
            $('.content-full-page').animate({'opacity':'1'}, 600);
</script>

<% include ./partials/footer %>