<% include ./partials/header %>

<table>
    <tr>
        <td class='homeIntro'>
            <div>
                <h1>Hey there!</h1>
                <p>I'm Igor Wu and welcome to my website!</p>
                <p>Click on the links in the menu above to learn more about:</p>
                <ul>
                    <li><i class="fas fa-angle-right"></i>Me!</li>
                    <li><i class="fas fa-angle-right"></i>My projects</li>
                    <li><i class="fas fa-angle-right"></i>And other neat stuff</li>
                </ul>
                <p>Feel free to check out the other pages too!</p>
            </div>
        </td>
        <td class='homeIntro2'>
            <div class="introPhoto">
                <img src="https://media.licdn.com/dms/image/C4D03AQGhOign0-WCBQ/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=OxFjbh6723FzklODZMmWzQFtjFGPtHG2QvaZnkEBSfE">
                <p><em>This is me</em></p>
            </div>
        </td>
    </tr>
</table>


<% include ./partials/footer %>