<!DOCTYPE html>
<html>
    <head>
        <title>Numen's Personal Website</title>
        
        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-git2.min.js"></script>
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        
        <!-- Semantic UI -->
        <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">-->
        <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/icon.min.css">-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>-->
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body class="bg">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/hire-me">Hire Me</a></li>
                <li><a href="/donate">Donate</a></li>
            </ul>
        </div>